<div class="article-author">
	<div class="article-author-info">
		<div class="article-author-avatar">
			<img class="article-author-img" src="../images/author-avatar.png" alt="Ralph Edwards photo" width="75" height="75">
		</div>
		<h6 class="article-author-name">
			Ralph Edwards
		</h6>
		<p class="article-author-position">
			Автор статьи
		</p>
	</div>

	<div class="article-author-text">
		<blockquote>
			Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit
			mollit.
		</blockquote>
	</div>
</div>