<div class="news-header">
	<h3 class="news-title lineHeading@@if(context.headingModifier){ @@headingModifier}">Мои посты</h3>

	@@if(context.page === "home") {
	<a href="#" class="home-news-link arrow-link right">
		<svg class="arrow-link-icon" fill="none" viewBox="0 0 15 15" width="15" height="15">
			<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.3"
				  d="M.995117 7.5H13.7549M9.375 3.125L13.75 7.5 9.375 11.875"/>
		</svg>
		Читать все посты
	</a>
	}

	@@if(context.page === "news") {
		@@include("news-controls.html")
	}
</div>

@@include("news-cards.html", {"count": @@count, "modifier": "two-columns"})